
          <%= form_for(shipment) do |f| %>
              <div class="row">
                <div class="col-md-6">
                    <% if shipment.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

                        <ul>
                        <% shipment.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <!-- <h3>Sender Details</h3> -->
                    <div class="form-group">
                      <%= f.label :sender_name, "Sender's Name" %>
                      <%= f.text_field :sender_name, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :sender_address, "Sender's Address" %>
                      <%= f.text_field :sender_address, class: "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label :sender_phone, "Sender's Phone Number" %>
                      <%= f.text_field :sender_phone, class: "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :sender_email, "Sender's Email" %>
                      <%= f.email_field :sender_email , class: "form-control"%>
                    </div>

                    <div class="form-group">
                      <%= f.label :shipped_from, "Sender's Country" %>
                      <%= f.select :shipped_from, options_for_select([["Select One", ""], "Afghanistan","Albania","Algeria","Andorra","Angola","Antigua and Barbuda","Argentina","Armenia","Australia","Austria","Azerbaijan","B","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bhutan","Bolivia","Bosnia and Herzegovina","Botswana","Brazil","Brunei","Bulgaria","Burkina Faso","Burundi","C","Cabo Verde","Cambodia","Cameroon","Canada","Central African Republic (CAR)","Chad","Chile","China","Colombia","Comoros","Democratic Republic of the Congo","Republic of the Congo","Costa Rica","Cote d'Ivoire","Croatia","Cuba","Cyprus","Czech Republic","D","Denmark","Djibouti","Dominica","Dominican Republic","E","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","F","Fiji","Finland","France","G","Gabon","Gambia","Georgia","Germany","Ghana","Greece","Grenada","Guatemala","Guinea","Guinea-Bissau","Guyana","H","Haiti","Honduras","Hong Kong","Hungary","I","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","J","Jamaica","Japan","Jordan","K","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","L","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","M","Macedonia (FYROM)","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Morocco","Mozambique","Myanmar (Burma)","N","Namibia","Nauru","Nepal","Netherlands","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","O","Oman","P","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Q","Qatar","R","Romania","Russia","Rwanda","S","Saint Kitts and Nevis","Saint Lucia","Saint Vincent and the Grenadines","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","T","Taiwan","Tajikistan","Tanzania","Thailand","Timor-Leste","Togo","Tonga","Trinidad and Tobago","Tunisia","Turkey","Turkmenistan","Tuvalu","U","Uganda","Ukraine","United Arab Emirates (UAE)","United Kingdom (UK)","United States of America (USA)","Uruguay","Uzbekistan","V","Vanuatu","Vatican City (Holy See)","Venezuela","Vietnam","Y","Yemen","Z","Zambia","Zimbabwe"]) %>
                    </div>

                    <div class="form-group">
                      <%= f.label :tracking_number, 'Tracking Number' %>
                      <%= f.text_field :tracking_number, class: "form-control" %>
                    </div>

                </div>

                <div class="col-md-6">
                  <!-- <h3>Receiver's Details</h3> -->
                  <div class="form-group">
                    <%= f.label :receiver_name, "Receiver's Name" %>
                    <%= f.text_field :receiver_name, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :receiver_address, "Receiver's Address" %>
                    <%= f.text_field :receiver_address, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label :receiver_phone, "Sender's Phone Number" %>
                    <%= f.text_field :receiver_phone, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :receiver_email, "Sender's Email" %>
                    <%= f.email_field :receiver_email , class: "form-control"%>
                  </div>

                  <div class="form-group">
                    <%= f.label :destination, "Destination Country" %>
                    <%= f.select :destination, options_for_select([["Select One", ""], "Afghanistan","Albania","Algeria","Andorra","Angola","Antigua and Barbuda","Argentina","Armenia","Australia","Austria","Azerbaijan","B","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bhutan","Bolivia","Bosnia and Herzegovina","Botswana","Brazil","Brunei","Bulgaria","Burkina Faso","Burundi","C","Cabo Verde","Cambodia","Cameroon","Canada","Central African Republic (CAR)","Chad","Chile","China","Colombia","Comoros","Democratic Republic of the Congo","Republic of the Congo","Costa Rica","Cote d'Ivoire","Croatia","Cuba","Cyprus","Czech Republic","D","Denmark","Djibouti","Dominica","Dominican Republic","E","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","F","Fiji","Finland","France","G","Gabon","Gambia","Georgia","Germany","Ghana","Greece","Grenada","Guatemala","Guinea","Guinea-Bissau","Guyana","H","Haiti","Honduras","Hong Kong","Hungary","I","Iceland","India","Indonesia","Iran","Iraq","Ireland","Israel","Italy","J","Jamaica","Japan","Jordan","K","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","L","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","M","Macedonia (FYROM)","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Morocco","Mozambique","Myanmar (Burma)","N","Namibia","Nauru","Nepal","Netherlands","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","O","Oman","P","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Q","Qatar","R","Romania","Russia","Rwanda","S","Saint Kitts and Nevis","Saint Lucia","Saint Vincent and the Grenadines","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","T","Taiwan","Tajikistan","Tanzania","Thailand","Timor-Leste","Togo","Tonga","Trinidad and Tobago","Tunisia","Turkey","Turkmenistan","Tuvalu","U","Uganda","Ukraine","United Arab Emirates (UAE)","United Kingdom (UK)","United States of America (USA)","Uruguay","Uzbekistan","V","Vanuatu","Vatican City (Holy See)","Venezuela","Vietnam","Y","Yemen","Z","Zambia","Zimbabwe"]), class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :delivery_date, "Delivery Date" %>
                    <%= f.date_field :delivery_date , class: "form-control"%>
                  </div>
                  <div class="actions">
                    <%= f.submit class: "btn btn-primary" %>
                  </div>
                </div>
              </div>


          <% end %>
