<div class="container" style="margin-top: 80px;">

  <h1 class="color text-center capitalize text-4xl md:pl-0 py-6">
    Update Shipment
  </h1>

		<%= render 'form', shipment: @shipment %>

		<%= link_to 'Back', shipments_path, class: "btn btn-danger" %>

    <%= form_for ([@shipment, @history]) do |f| %>
      <%#= render "shared/errors", object:  %>

      <div class="form-group">
        <%= f.label :scan_history, "Shipment Update" %>
        <%= f.text_field :scan_history, class: "form-control", placeholder: "Enter shipment update..." %>
      </div>

      <div class="actions">
        <%= f.submit "Update Shipment Status", class: "btn btn-success" %>
      </div>

    <% end %>

    <div class="text-center">
      <%= link_to 'Show', @shipment %> |
      <%= link_to 'Back', shipments_path %>
    </div>

</div>
