<div class="container" style="margin-top: 80px;">

    <h1 class="color text-center capitalize text-4xl md:pl-0 py-6">
      All Shipments
    </h1>

        <div class="row">
            <div class="box">

            <div class="col-md-12 showPage">
              <p id="notice"><%= notice %></p>
              <% if @shipments.blank? %>
                <h4>There are no shipment containing the term <%= params[:search] %>.</h4>
              <% else %>
              <table class="table">
                <thead>
                  <tr>
                    <th>Sender's Name</th>
                    <th>Receiver's Name</th>
                    <th>Shipped From</th>
                    <th>Tracking Number</th>
                    <th>Destination</th>
                    <th colspan="5">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <% @shipments.each do |shipment| %>
                    <tr>
                      <td><%= shipment.sender_name %></td>
                      <td><%= shipment.receiver_name %></td>
                      <td><%= shipment.shipped_from %></td>
                      <td><%= shipment.tracking_number %></td>
                      <td><%= shipment.destination %></td>
                      <td><%= link_to 'View Shipment Receipt', shipments_url + "/#{shipment.tracking_number}.pdf", class: "btn btn-success" %></td>
                      <td><%= link_to 'Update Shipment', shipment, class: "btn btn-warning" %></td>
                      <!-- <td><%#= link_to 'Edit', edit_shipment_path(shipment), class:  %></td> -->
                      <td><%= link_to 'Delete', shipment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <% end %>

              <br>


              <% if !user_signed_in? %>
                <%= link_to 'Login', new_user_session_path, class: "btn btn-danger" %>
              <% else %>
                <%= link_to 'New Shipment', new_shipment_path, class: "btn btn-danger" %>
              <% end %>
               <div class="clearfix"></div>
            </div>
        </div>



    </div>
