<div class="container" style="margin-top: 150px;">
  <div class="row">
    <div class="col-md-4">
        <h4 class="text-center">
          Sender's Details
        </h4>
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Sender's Name:</strong>
          <%= @shipment.sender_name %>
        </p>

        <p>
          <strong>Sender's Address:</strong>
          <%= @shipment.sender_address %>, <%= @shipment.shipped_from %>
        </p>

        <p>
          <strong>Sender's Phone:</strong>
          <%= @shipment.sender_phone %>
        </p>

        <p>
          <strong>Sender's Email:</strong>
          <%= @shipment.sender_email %>
        </p>

        <p>
          <strong>Tracking Number:</strong>
          <%= @shipment.tracking_number %>
        </p>



        <%= link_to 'Update Shipment', edit_shipment_path(@shipment), class: "btn btn-warning" %> |
        <%= link_to 'Back', shipments_path, class: "btn btn-info" %>

    </div>

    <div class="col-md-4">
      <h4>Receiver's Details</h4>

      <p>
        <strong>Receiver's Name:</strong>
        <%= @shipment.receiver_name %>
      </p>

      <p>
        <strong>Receiver's Address:</strong>
        <%= @shipment.receiver_address %>, <%= @shipment.destination %>
      </p>

      <p>
        <strong>Receiver's Phone:</strong>
        <%= @shipment.receiver_phone %>
      </p>

      <p>
        <strong>Receiver's Email:</strong>
        <%= @shipment.receiver_email %>
      </p>
    </div>

    <div class="col-md-4">
      <h4 class="text-center">Scan History</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Last Updated
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <% if @shipment.histories.any? %>
            <% @shipment.histories.order("updated_at DESC").each do |history| %>
              <tr>
                <td><%= time_ago_in_words(history.updated_at) %> ago</td>
                <td><%= history.scan_history %></td>
              </tr>
            <% end %>
            <tr>
              <td><%= time_ago_in_words(@shipment.created_at) %> ago</td>
              <td><%= "Shipment created" %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= time_ago_in_words(@shipment.updated_at) %> ago</td>
              <td><%= "Shipment created" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
